In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [2]:
data = pd.read_csv("./stat/WA_Fn-UseC_-HR-Employee-Attrition.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

### 카테고리를 정해진 숫자로 변환

* np.bincount는 연속된 정수로 encode된 상황을 가정함

In [24]:
new_label = {"Attrition": {"Yes":1, "No":0}}
data.replace(new_label , inplace = True)

In [63]:
# 제공되어야할 정보
ng1 = data.Attrition.nunique()
ng2 = data.JobSatisfaction.nunique()

ntot = len(data)

V1 = data.Attrition.values
V2 = data.JobSatisfaction.values

print("attrition", V1)
print("Job satisfaction", V2)

attrition [1 0 1 ... 0 0 0]
Job satisfaction [4 2 3 ... 2 2 3]

### Crosstab

In [102]:
ct = ng2*V1+V2 # -> 4 x 2 category를 1~8로 표현
obs = np.bincount(ct)[1:]
print("Contingency Table")
print(obs.reshape(2,-1))

row_sum = np.bincount(V1) # [0,1]
col_sum = np.bincount(V2)[1:] # 0,[1,2,3,4]
print(row_sum)

Contingency Table
[[223 234 369 407]
 [ 66  46  73  52]]
[1233  237]

In [101]:
E = [] # expected frequency
for j in range(ng1):
    for v in col_sum:
        E.append(v * row_sum[j] /ntot)
E

[242.4061224489796,
 234.85714285714286,
 370.7387755102041,
 384.99795918367346,
 46.593877551020405,
 45.142857142857146,
 71.26122448979592,
 74.00204081632653]

In [92]:
chi2 = ((obs - E)**2/E).sum()
print(chi2)

17.505077010348

### Degree of freedom

In [95]:
dof = (ng1-1) * (ng2 - 1)

### Interpretation

In [99]:
p = 1 - stats.chi2.cdf(chi2, dof)

print(p) # Maybe there's no correlation between the two

0.000556300451038716